$mainColor:#f8f8f8;
$fontColor:#888;
$Raleway:"Raleway";
$openSans:"Open Sans";
$orange:#F97300;

/* box shadow mixin */
@mixin box-shadow($shadow) {
	-webkit-box-shadow:$shadow;
	-moz-box-shadow:$shadow;
	-ms-box-shadow:$shadow;
	-o-box-shadow:$shadow;
	box-shadow:$shadow;
}
@mixin transition($transition) {
      -webkit-transition:$transition;
      -moz-transition:$transition;
      -ms-transition:$transition;
      -o-transition:$transition;
      transition:$transition;
}

#charts{
	justify-content: center !important;
	 @media (min-width: 768px)and (max-width: 1024px){
	 	padding: 4em;
	 }
	.chart{
		background: #fff;
		@include box-shadow(0 0 20px #ccc);
		margin:1em;
		h3{
			color: $orange;
			font-family: $Raleway;
		}
	}
}