
<div  class="row" id="mails" >
	<div class="col-md-12 col-sm-12 header" [@moveInUp]>
		<img src="../../../assets/images/team-2.jpg" class="img-fluid" alt="cover image" height="200px">
		
	</div>
	<div class="col-md-2" [@moveInDown]>
		<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
			<li class="nav-item active" > 
			<a class="nav-link" id="pill-inbox-tab" href="#pill-inbox" data-toggle="pill" aria-controls="pill-inbox-tab"><i class="material-icons">email</i> inbox <span class="badge pill">45</span></a>
			</li>
			<li class="nav-item">
			<a class="nav-link" id="pill-send-tab" href="#pill-send" data-toggle="pill" aria-controls="pill-sent-tab">
			<i class="material-icons">call_made</i> sent <span class="badge pill">45</span></a>
			</li>
			<li class="nav-item">
			<a class="nav-link" id="pill-saved-tab" href="#pill-saved" data-toggle="pill" aria-controls="pill-saved-tab"
			><i class="material-icons">attach_file</i> saved</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" id="pill-trash-tab" href="#pill-trash" data-toggle="pill" aria-controls="pill-trash-tab"
			><i class="material-icons">delete</i> trash</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" id="pill-set-tab" href="#pill-set" data-toggle="pill" aria-controls="pill-set-tab"
			><i class="material-icons">settings</i> settings</a>
			</li>
			
		</ul>
		
	</div>
	<div class="col-md-10" >
		<div class="row">
			<div class="col-md-4" [@moveInLeft]>
			<!-- tabContent -->
			<div class="tab-content" id="pills-tabContent"> 
			<!-- inbox -->
			<div class="tab-pane fade show inbox active"  id="pill-inbox" role="tabpanel" aria-labelledby="pill-inbox-tab">
			
			 <ul class="list-group box-shadow" >
			 	<li class="list-inline-item"><i class="material-icons">bookmark</i> <strong> From:</strong>Johon@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">bookmark</i><strong>From:</strong>Sara@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">bookmark</i><strong>From:</strong>Amin@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">bookmark</i><strong>From:</strong>Tony@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">bookmark</i><strong>From:</strong>Johon@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">bookmark</i><strong>From:</strong>Johon@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 </ul>
			</div>
            <!-- inbox -->
			<!-- send -->
			<div class="tab-pane fade show sent"  id="pill-send" role="tabpanel" aria-labelledby="pill-send-tab">
			 <ul class="list-group box-shadow">
			 	<li class="list-inline-item"><i class="material-icons">call_made</i> <strong> To:</strong>Johon@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">call_made</i><strong>To:</strong>Sara@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">call_made</i><strong>To:</strong>Amin@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">call_made</i><strong>To:</strong>Tony@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">call_made</i><strong>To:</strong>Johon@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">call_made</i><strong>To:</strong>Johon@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 </ul>
			</div>
			<!-- sent -->

			<!-- saved-->
			<div class="tab-pane fade show saved"  id="pill-saved" role="tabpanel" aria-labelledby="pill-saved-tab">
			<ul class="list-group box-shadow">
			 	<li class="list-inline-item"><i class="material-icons">attach_file</i> <strong> To:</strong>Johon@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">attach_file</i><strong>From:</strong>Sara@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">attach_file</i><strong>To:</strong>Amin@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">attach_file</i><strong>From:</strong>Tony@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">attach_file</i><strong>To:</strong>Johon@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">attach_file</i><strong>From:</strong>Johon@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 </ul>
			</div>
			<!-- saved -->

			<!-- trash-->
			<div class="tab-pane fade show trash"  id="pill-trash" role="tabpanel" aria-labelledby="pill-trash-tab">
			<ul class="list-group box-shadow">
			 	<li class="list-inline-item"><i class="material-icons">delete</i> <strong> Deleted </strong>Johon@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">delete</i><strong>Deleted </strong>Sara@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">delete</i><strong>Deleted </strong>Amin@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">delete</i><strong>Deleted </strong>Tony@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">delete</i><strong>Deleted </strong>Johon@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 	<li class="list-inline-item"><i class="material-icons">delete</i><strong>Deleted </strong>Johon@gmail.com
			 	<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 	</p>
			 	</li>
			 </ul>
			</div>
			<!-- trash -->
			

			<!-- setting -->
			<div class="tab-pane fade show activee"  id="pill-set" role="tabpanel" aria-labelledby="pill-set-tab">
			  ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			 proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
			<!-- setting -->
			</div>
				<!-- tabContent -->
			</div>
			<div class="col-md-8 details" [@moveInLeft]>
			<span class="email_from"><i class="material-icons">email</i> Jhon@gmail.com</span>
			<i class="material-icons float-right forward" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="Forward">call_missed_outgoing</i>
			<h4 class="title">I would to pursahr but I have problem</h4>
			<p>
				ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
				<img src="../../../assets/images/product.jpg" class="img-fluid rounded">
				<span class="date">45/56/2017 00:56</span>
			</div>
		</div>
	</div>
</div>