
<!-- bootstrap tables -->
<div class="row" id="tables">
	<div class="col-md-6 col-sm-6 col-xs-12 table_item">
	<h3 class="text-center">Table Hover</h3>
		<table class="table table-responsive  table-hover"  [@moveInUp]>
			<thead>
				<tr>
					<th scope="col">#ID</th>
					<th scope="col">#name</th>
					<th scope="col">#Family</th>
					<th scope="col">#birthday</th>
					<th scope="col">#registration</th>
					<th scope="col">#status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Suly</td>
					<td>Layla</td>
					<td>Kali</td>
					<td>Jeniever</td>
					<td>Jhon</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Sara</td>
					<td>Cris</td>
					<td>Tony</td>
					<td>Ahmed</td>
					<td>Jhon</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Suly</td>
					<td>Layla</td>
					<td>Kali</td>
					<td>Jeniever</td>
					<td>Jhon</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12 table_item">
	<h3 class="text-center">Table Dark</h3>
		<table class="table table-responsive table-dark" [@moveInRight]>
			<thead>
				<tr>
					<th scope="col">#ID</th>
					<th scope="col">#name</th>
					<th scope="col">#Family</th>
					<th scope="col">#birthday</th>
					<th scope="col">#registration</th>
					<th scope="col">#status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Suly</td>
					<td>Layla</td>
					<td>Kali</td>
					<td>Jeniever</td>
					<td>Jhon</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Sara</td>
					<td>Cris</td>
					<td>Tony</td>
					<td>Ahmed</td>
					<td>Jhon</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Suly</td>
					<td>Layla</td>
					<td>Kali</td>
					<td>Jeniever</td>
					<td>Jhon</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 table_item" [@moveInDown]>
	<h3 class="text-center">Table bordered</h3>
	  <div class="row filter-Table-options p-2">
	  	<div class="input-group col-md-5">
	  	<div class="input-group-prepend">
	  	      <span class="input-group-text">Filter By</span>	
	  	</div>
	  	<input type="text" class="form-control-sm" placeholder="Search by Keyword" name="">
	  </div>
	  
	  <div class="input-group col-md-3">
	  	<div class="input-group-prepend">
	  		<span class="input-group-text"><i class="material-icons">arrow_drop_down_circle</i></span>
	  	</div>
	  	 <select class="custom-select small">
	  	 	<option value="0" selected>Chose one</option>
	  	 	<option value="1" selected>Chose Tree</option>
	  	 	<option value="2" selected>Chose Four</option>
	  	 </select>
	  </div>
	  </div>
	  
		<table class="table table-responsive table-bordered">
			<thead>
				<tr>
					<th scope="col">#ID</th>
					<th scope="col">#name</th>
					<th scope="col">#Family</th>
					<th scope="col">#birthday</th>
					<th scope="col">#registration</th>
					<th scope="col">#status</th>
					<th scope="col">#ID</th>
					<th scope="col">#name</th>
					<th scope="col">#Family</th>
					<th scope="col">#birthday</th>
					<th scope="col">#registration</th>
					<th scope="col">#status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>3</td>
					<td>Suly</td>
					<td>Layla</td>
					<td>Kali</td>
					<td>Jeniever</td>
					<td>Jhon</td>
					<td>3</td>
					<td>Suly</td>
					<td>Layla</td>
					<td>Kali</td>
					<td>Jeniever</td>
					<td>Jhon</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Suly</td>
					<td>Layla</td>
					<td>Kali</td>
					<td>Jeniever</td>
					<td>Jhon</td>
					<td>3</td>
					<td>Suly</td>
					<td>Layla</td>
					<td>Kali</td>
					<td>Jeniever</td>
					<td>Jhon</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Suly</td>
					<td>Layla</td>
					<td>Kali</td>
					<td>Jeniever</td>
					<td>Jhon</td>
					<td>3</td>
					<td>Suly</td>
					<td>Layla</td>
					<td>Kali</td>
					<td>Jeniever</td>
					<td>Jhon</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Suly</td>
					<td>Layla</td>
					<td>Kali</td>
					<td>Jeniever</td>
					<td>Jhon</td>
					<td>3</td>
					<td>Suly</td>
					<td>Layla</td>
					<td>Kali</td>
					<td>Jeniever</td>
					<td>Jhon</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12 table_item" [@moveInLeft]>
		<h3 class="text-center">Table colored</h3>
		<table class="table table-responsive ">
			<thead>
				<tr class="table-secondary">
					<th scope="col">#ID</th>
					<th scope="col">#name</th>
					<th scope="col">#Family</th>
					<th scope="col">#birthday</th>
					<th scope="col">#registration</th>
					<th scope="col">#status</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-info">
					<td>1</td>
					<td>Suly</td>
					<td>Layla</td>
					<td>Kali</td>
					<td>Jeniever</td>
					<td>Jhon</td>
				</tr>
				<tr class="table-danger">
					<td>2</td>
					<td>Sara</td>
					<td>Cris</td>
					<td>Tony</td>
					<td>Ahmed</td>
					<td>Jhon</td>
				</tr>
				<tr class="table-primary">
					<td>3</td>
					<td>Suly</td>
					<td>Layla</td>
					<td>Kali</td>
					<td>Jeniever</td>
					<td>Jhon</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12 table_item" [@moveInUp]>
		<h3 class="text-center">Table colored</h3>
		<table class="table table-responsive ">
			<thead>
				<tr class="bg-warning">
					<th scope="col">#ID</th>
					<th scope="col">#name</th>
					<th scope="col">#Family</th>
					<th scope="col">#birthday</th>
					<th scope="col">#registration</th>
					<th scope="col">#status</th>
				</tr>
			</thead>
			<tbody>
				<tr class="bg-success">
					<td>1</td>
					<td>Suly</td>
					<td>Layla</td>
					<td>Kali</td>
					<td>Jeniever</td>
					<td>Jhon</td>
				</tr>
				<tr class="bg-primary">
					<td>2</td>
					<td>Sara</td>
					<td>Cris</td>
					<td>Tony</td>
					<td>Ahmed</td>
					<td>Jhon</td>
				</tr>
				<tr class="bg-danger">
					<td>3</td>
					<td>Suly</td>
					<td>Layla</td>
					<td>Kali</td>
					<td>Jeniever</td>
					<td>Jhon</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>